form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
    background-color:  #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form h2 {
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #333;
}

label {
    font-family: 14px;
    font-weight: 500;
    color: #555;
}

/* Input Field */

input[type='text'] {
    width: 95%;
    padding: 10px 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.2s ease;
}

input[type='text']:focus {
    border-color: #4f46e5   /*Indigo  **/

}


/* Button container  */
form div {
    display: flex;
    flex-direction: column;
    gap: 12px;

} 


button {
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    transition: background-color 0.2s ease, transform 0.1s  ease;
}


.remove-btn:hover {
    background-color: red;
}

.submit-btn:hover {
    background-color: green;
}

.error-template p {
    color: red;
    align-self: center;
}

.error-value {
    text-decoration: underline;
}




/* div {
    margin: auto;
}

div label {
    align-content: center;
} */